* {
  margin: 0;
  padding: 1;
  box-sizing: content-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f4f9;
  color: #333;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #ffcccc;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #e25584d3;
}

p {
  font-size: 1.2em;
  color: #574e4e;
}

section {
  margin: 40px 0;
}

.rosa-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-container {
  margin-top: 20px;
}

h2 {
  color: #e91e63;
  margin-bottom: 10px;
}

footer {
  margin-top: 40px;
  color: #ffcaca;
}